.justificar {
    text-align: justify;
}
.color1 {
    background-color: #60b8e5;
    color: #fff;
}
.color2 {
    background-color: #329ada;
    color: #fff;
}
.centerXY {
    border: none;
    align-items: center;
    justify-content: center;
}
.size5{
    font-size: 1.125rem;
}